* {
  font-family: "Roboto";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #FFF;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}